<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="fragments/head_fragment :: head"></div>
<body>
<div th:replace="fragments/header_fragment :: header"></div>

<div th:replace="fragments/registration_fragment :: registration"></div>
<div th:if="${fail=='fail'}">
    <div class="failed">
        <div class="container">
        <span class="failed_registration_text">
            Пользователь с таким логином уже существует!
        </span>
        </div>
    </div>
</div>
</body>
</html>